<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <div id="reg-form">
      <h1>Registration</h1>
      <form action="/register_user" method="POST">
        {% csrf_token %}
        <div id="labels">
          <label>Username</label><input type="text" name="username" />
          <!-- <label>Email</label><input type="text" name="email" /> -->
          <label>Password</label><input type="password" name="password" />
          <label>Confirm Password</label
          ><input type="password" name="confirmPW" />
        </div>
        <button>Register</button>
      </form>
    </div>
  </body>
</html>
